.body {
	background-color: #4b4b4b;
	width: 80%;
	position: relative;
	left: 10%;
	padding: 8px 5px 5px 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.link {
	color: white;
	text-decoration: none;
	font-weight: normal;
}
.link:visited {
	color: white;
}